:root {
  --siem-blue: #005b96;
  --siem-dark: #1f2937;
  --siem-bg: #f4f7f9;
  --siem-border: #d1d5db;
  --critical: #bd271e;
  --high: #e7664c;
  --medium: #f8ca30;
  --low: #5eb5a6;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--siem-bg);
  color: #333;
}